@media (max-width: $screen-xs-max) and (orientation: portrait){ 
    body {
        font-size:140%;
    }
    
    header.site-header {
        #logo-main {
            margin:20px 20px 20px;
        }
    }
    
    #navbar-primary{
        &.navbar-default {
            min-height:0;
            .navbar-nav{
                >li {
                    >a {
                        padding:5px 15px;
                    }
                }
            }
            .sub-navigation {
                display:none;
            }
        }
    }
    
    .navbar-toggle {
        margin-top:-64px;
        margin-right:35px;
    }
    
    #page-banner {
        .slide-title {
            .title {
                white-space: nowrap;
                font-size:1.1em;
            }
        }
    }
    
    .partners-listing {
        .listing-area {
            .swiper-button-next {
                right:20px;
            }
            .swiper-button-prev {
                left:20px;
            }
            .swiper-slide {
                a {
                    padding:20px;
                    overflow:hidden;
                    border-left:0;
                }
            }
        }
    }
    
    .site-footer {
        ul {
            text-align:center;
            &.pull-left,
            &.pull-right {
                width:100%;
                float:none;
                li {
                    float:none;
                    display:inline;
                }
            }
        }
    }
    
    section#venture-tabs {
        .nav{
            >li {
                margin-bottom:10px;
            }
        }
        .nav-tabs{
            &.upper-level {
                margin-bottom:0;
            }
            li {
                a {
                    padding:10px;
                    height:50px;
                }
            }
        }
        .tab-content {
            position:static;
            height:auto;
            .tab-pane {
                p {
                    max-height:100%;
                }
            }
        }
    }
}