/* 768 * 1280
================================================================*/

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) and (orientation: portrait) {
	body {
        font-size:140%;
    }
    #navbar-primary{
        &.navbar-default {
            .navbar-nav{
                >li {
                    >a {
                        padding:5px 15px;
                    }
                }
            }
            .sub-navigation {
                width:240px;
            }
        }
    }
    
    #page-banner {
        .slide-title {
            .title {
                white-space: nowrap;
            }
        }
    }
    
    .partners-listing {
        .listing-area {
            .swiper-button-next {
                right:20px;
            }
            .swiper-button-prev {
                left:20px;
            }
            .swiper-slide {
                a {
                    padding:20px;
                    overflow:hidden;
                }
            }
        }
    }
    
    .search {
        .form-group {
            .form-control {
                width:140px;
            }
        }
    }
    
    .venture-list {
        a {
            .venture-title {
                font-size:1em;
            }
        }
    }
    
    .single-column {
        padding:15px 0 50px 0;
    }
    
    #sidebar {
        .section-nav {
            li {
                a {
                    padding:15px 15px 15px 5%;
                }
            }
        }
    }
    
    .widget-feed{
        .title {
            padding: 15px 5% 15px 10px;
        }
        .widget-content {
            padding: 15px 5% 15px 10px;
        }
    }
    
    #content-area{
        &.inner-content {
            .news-thumb {
                .swiper-slide {
                    img {
                        width:100%;
                    }
                }
            }
        }
    }
    
}

