/* 1024 * 768
==================================================================*/

@media (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: landscape) {
	body {
		padding-top:139px;
	}

	#mainHeader {
		.partner-links {
			width:87%;
			li {
				width:6%;
				img {
					width:100%;
				}
			}
		}
	}

	.hotel-search {
		.submit-btn {
			font-size:10px;
		}
	}

	.signup {
		.signupbtn {
			font-size:10px;
		}
	}

	.main-banner-booking {
		.swiper-container {
			.swiper-pagination {
				right:3%;
			}
		}
	}

	.booking-bar{
		.form-group {
			.form-control {
				font-size:10px;
			}
			.submitbtn {
				font-size:12px;
			}
			&.nobg {
				i {
					font-size:10px;
					top:13px;
				}
			}
		}
	}

	.country-box {
		margin-bottom:0;
		.country-thumb {
			min-height:160px;
			img {
				width:100%;
			}
		}
		.title {
			font-size:20px;
		}
		.info-box {
			span{
				&.ratesfrom {
					font-size:14px;
				}
				&.price {
					font-size:32px;
				}
			}
			.booknowbtn {
				font-size:12px;
				i {
					font-size:12px;
				}
			}
		}
		.viewmore {
			height:60px;
		}
	}
}