/* 1024 * 768
==================================================================*/

@media (min-width: $screen-md) and (max-width: $screen-md-max) and (orientation: landscape) {
    body {
        font-size:140%;
    }
    #navbar-primary{
        &.navbar-default {
            .navbar-nav{
                >li {
                    >a {
                        padding:5px 15px;
                    }
                }
            }
        }
    }
    
    #page-banner {
        .slide-title {
            .title {
                white-space: nowrap;
            }
        }
    }
    
    .partners-listing {
        .listing-area {
            .swiper-button-next {
                right:20px;
            }
            .swiper-button-prev {
                left:20px;
            }
            .swiper-slide {
                a {
                    padding:20px;
                    overflow:hidden;
                }
            }
        }
    }
    
    .single-column {
        padding:15px 5% 50px 20px;
    }
    .ventures-media {
        width:100%;
    }
    #sidebar {
        .section-nav {
            li {
                a {
                    padding:15px 20px;
                }
            }
        }
    }

    .partners-list {
        li {
            width:33.33333%;
            &:nth-child(5n) {
                a {
                    margin-right:10px;
                }
            }
            &:nth-child(3n) {
                a {
                    margin-right:0;
                }
            }
            img {
                max-width:100px;
                height:auto;
            }
        }
    }
}